*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.content {
    width: 20em;
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:15px;
}

img{
    width: 20rem;
    padding: 0.8rem;
    border-radius: 23px;
}

h1{
    text-align: center;
    font-size:24px;
}

p{
    text-align: center;
}

.textone{
 padding:1rem 2rem 0.8rem 2rem; 
 max-width: 20rem;
 font-size: 1.3rem;   
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight: bold;
 color: black;
}

.texttwo{
    padding:0.8rem 2rem 2.8rem 2rem;
    max-width: 20rem;
    font-size: 1rem;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.4);
}

